.list-container {
  padding: 0px 24px;
  height: 100vh;
  width: 96%;
  border: 1px solid lightgray;
  font-family: sans-serif;
}

h2 {
  border-bottom: 1px solid lightgray;
}

.selectedProviders {
  margin-bottom: 50px;
  margin-top: 50px;
}

.unselectedProviders {
  margin-top: 50px;
}
